body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e91e63;
}

.login-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: -12px 20px 50px -10px rgba(0,0,0,0.65);
  width: 350px;
  text-align: center;
}

.login-container h1{
  margin-bottom: 1.5rem;
  /* font-size: 24px; */
  font-weight: bold;
}

.input-group{
  margin-bottom: 20px;
}
.input-group input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.input-group input:focus {
  outline: none;
  border-color: #e91e63;
}

.button-group {
  margin-bottom: 20px;
}

.button-group button{
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #e91e63;
  color: #fff;
 border-radius: 5px;
 font-size: 16px;
 cursor: pointer;
}

.button-group button:hover {
  background-color: #d81b60;
}

.social-login{
  margin-top: 20px;
}

.social-login p{
  margin-bottom: 10px;
  font-size: 14px;
  color: #888;
}

.social-login button{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.social-login .google {
  background-color: #c70a0a;
  color: #fff;
}

.social-login .google:hover {
  background-color: #8d0505;
}

.social-login .facebook {
  background-color: #3b5998;
  color: #fff;
}

.social-login .facebook:hover {
  background-color: #2d4373;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .login-container {
    width: 90%;
    padding: 20px;
  }

  .input-group input {
    font-size: 14px;
    padding: 8px;
  }

  .button-group button, .social-login button {
    font-size: 14px;
    padding: 8px;
  }

  .social-login p {
    font-size: 12px;
  }
}